
<form [formGroup]="newRecipe" (ngSubmit)="onAddRecipe()">
<label for="title">Title: </label>
<br>
<input type="text" name ="title" formControlName = "title">
<br>
<div formArrayName="ingredientss">
  <p>Ingredients <button type="button"  (click)="onAddIngredient()">+</button>
  </p>
  <div *ngFor="let ingredient of ingredientss.controls; let i=index">
    <!-- The repeated ingredient template -->
    <input id="ingredient-{{ i }}" type="text" [formControlName]="i">
    <button (click)="onDeleteIngredient(i)">X</button>
  </div>
</div>
<br>
<label for="Instruction">Instruction: </label>
<br>
<input type="text" name ="Instruction" formControlName = "instruction">
<br>
<label for="Instruction">Image: </label>
<br>
<input type="text" name ="image" formControlName = "image">
<br>
<br>
<button (click)="onBack()">Back</button>
<button type="submit" [disabled]="newRecipe.invalid">Add</button>
</form>
